{% extends "GestionEtudiantBundle::index.html.twig" %}
{% block container %}
    {% for semestre in semestres %}
        <li><a href="{{ path('gestion_etudiant_modules', {'id':semestre["semestre"]}) }}">{{ semestre["semestre"] }}</a></li>
    {% endfor %}
{% endblock %}